@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}
:root{
    --white: #FFFFFF;
    --blue: #1D4ED8;
    --black: #000102;
}
.common-btn{
    background-color: var(--blue);
    border: none;
    padding: 12px 28px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--white);
}
/* =====nav start===== */
.navbar{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 12px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-logo img{
    height: 35px;
}
.navbar .menu ul li{
    list-style: none;
    display: inline;
}
.navbar .menu ul li a{
    color: #897878;
    text-decoration: none;
    font-size: 17px;
    padding: 0 10px;
}
/* =====nav end===== */
/* ===banner start=====  */
#banner{
    background-image: linear-gradient(
        to bottom left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.05) 35%,
        rgba(0, 0, 0, 0.8) 65%,
        rgba(0, 0, 0, 0.92) 100%
    ), url(/assets/image/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    display: flex;
}
.banner-content{
    color: var(--white);
    width: 45%;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;

}
.banner-content h1{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 130px;
}
.banner-btn{
    font-size: 18px;
    padding: 14px 36px;
    font-weight: 600;
}
/* ====speakers start==== */
#Speakers{
    margin: 80px 0;
}
#Speakers h2{
    text-align: center;
    font-size: 35px;
}
.speakers-main, .venue-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 90%;
    margin: 30px auto;
}
.spekers-child-card img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
}
.spekers-child-card span{
    color: var(--blue);
    font-size: 12px;
    font-weight: 800;
}
.spekers-child-card h3{
    margin: 10px 0;
}
.spekers-child-card p{
    color: #897878;
}
/* =======pricing start====  */
#pricing{
    width: 80%;
    margin: 0 auto;
}
.price-header{
    text-align: center;
    margin-bottom: 30px;
}
.price-header h1{
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 10px;
}
.price-header p, .pricing-features li, .upper-part h6, .upper-part p{
    font-size: 14px;
    color: gray;
}
.pricing-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 100px;
}
.card-price{
    border: 1px solid rgb(212, 200, 200);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    padding: 20px 30px;
}
.upper-part{
    border-bottom: 1px solid rgb(196, 186, 186);
    margin-bottom: 20px;
}
.upper-part p{
    margin-bottom: 16px;
}
.pricing-features li{
    line-height: 20px;
}
.pricing-btn{
    border: 1px solid var(--blue);
    padding: 8px 100px;
    background: transparent;
    color: var(--blue);
    font-weight: 700;
    border-radius: 10px;
    margin: 16px auto;   
}
.contact-btn{
    color: var(--black);
    border: 1px solid var(--black);
}
.pro-card{
    background-color: #0D1B2A;
    color: var(--white);
}
.pro-card p, .pro-card li, .sub-heading, .info-icon i{
    color: #1D4ED8;
}
.pro-card li span{
    color: rgb(217, 214, 208);
}
.pro-card .pro-cls{
    color: var(--blue);
}
.pro-btn{
    color: var(--white);
    background-color: var(--blue);
}
/* ======venue===== */
.sub-heading{
    font-weight: 800;
    font-size: 14px;
}
.venue-title{
    font-size: 30px;
    font-weight: 900;
    margin: 15px 0 20px 0;
}
.venue-description{
    color: gray;
    font-size: 17px;
    line-height: 20px;
}
.info-card{
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    gap: 30px;
    background-color: #F8FAFC;
}
.info-text p{
    font-size: 17px;
    margin-top: 10px;
    line-height: 25px;
}
.venue-map img{
    width: 100%;
    height: 60%;
    margin-top: 170px;
}
/* ====footer===== */
.footer-main {
  background-color: #0b1528; 
  color: #707e94;          
  padding: 30px 20px;         
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.footer-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links a {
  color: #707e94;
  text-decoration: none;
  margin-left: 20px;  
  transition: color 0.3s ease;
}
.footer-links a:hover {
  color: #a0aec0;
}

 